env
venv/
.vscode/
node_modules/
static/admin/
**/*.pyc
**/*.sqlite3
**/*.sqlite3-journal
.DS_Store
.env
ypostirizo.log
celery.log
celerybeat-schedule
tasks.log
backup.zip
backups.sql
yarn-error.log
dist/
.coverage
!media/favicon.png
!media/avatar.png
media/